<!DOCTYPE html>

                        <div class="mb-4">

                            <label>Due Date</label>

                            <input
                                type="date"
                                name="due_date"
                                class="form-control custom-input"
                            >

                        </div>

                        <div class="mb-4">

                            <label>Due Time</label>

                            <input
                                type="time"
                                name="due_time"
                                class="form-control custom-input"
                            >

                        </div>

                        <div class="mb-4">

                            <label>Priority</label>

                            <select
                                name="priority"
                                class="form-select custom-input"
                            >

                                <option>Low</option>
                                <option>Medium</option>
                                <option>High</option>

                            </select>

                        </div>

                        <button type="submit" class="main-btn">
                            Save Task
                        </button>

                        <a href="/" class="back-btn">
                            Back Home
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

</body>
</html>
