<!DOCTYPE html>

                        </div>

                        <div class="mb-4">

                            <label>Due Date</label>

                            <input
                                type="date"
                                name="due_date"
                                value="{{ task['due_date'] }}"
                                class="form-control custom-input"
                            >

                        </div>

                        <div class="mb-4">

                            <label>Due Time</label>

                            <input
                                type="time"
                                name="due_time"
                                value="{{ task['due_time'] }}"
                                class="form-control custom-input"
                            >

                        </div>

                        <div class="mb-4">

                            <label>Priority</label>

                            <select
                                name="priority"
                                class="form-select custom-input"
                            >

                                <option {% if task['priority'] == 'Low' %}selected{% endif %}>
                                    Low
                                </option>

                                <option {% if task['priority'] == 'Medium' %}selected{% endif %}>
                                    Medium
                                </option>

                                <option {% if task['priority'] == 'High' %}selected{% endif %}>
                                    High
                                </option>

                            </select>

                        </div>

                        <button type="submit" class="main-btn">
                            Update Task
                        </button>

                        <a href="/" class="back-btn">
                            Back Home
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

</body>
</html>
