<!DOCTYPE html>
                                    Pending
                                </span>

                            {% endif %}

                        </td>

                        <td>

                            <div class="btn-group-custom">

                                <a
                                    href="/complete/{{ task['id'] }}"
                                    class="small-btn complete-btn"
                                >
                                    Complete
                                </a>

                                <a
                                    href="/edit/{{ task['id'] }}"
                                    class="small-btn edit-btn"
                                >
                                    Edit
                                </a>

                                <a
                                    href="/delete/{{ task['id'] }}"
                                    class="small-btn delete-btn"
                                >
                                    Delete
                                </a>

                            </div>

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</section>

<footer class="footer-section">

    <p>
        Ornella Planner • Designed beautifully for productivity.
    </p>

</footer>

</body>
</html>
